/*
 * Play Page
 */
.playpage-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // avoid scrollbars
  overflow: hidden;

  position: absolute;
  top: 0px;

  & .iching-card {
    position: absolute;
    top: 0px;
    left: 0px;
    flex: 1 1 100%;
    align-self: center;
    width: 100%;
    z-index: 100;

    & .hexagram-card {
      cursor: pointer;
    }
  }

  & .canvas {
    flex: 1;
    min-height: 100%;
    width: 90%;
    z-index: 0;

    flex-direction: column;
    display: flex;
    justify-content: space-around;

    & .infoArea {
      width: 100%;
      margin: 0px auto;
      min-height: 150px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .lblquestion {
        width: 90%;
        margin: 0 auto;
        height: 80px;
        text-align: center;
        overflow: hidden;

        & .title {
          font-family: "Cormorant Garamond";
          font-size: 2rem;
          font-weight: 300;
          display: inline-block;
        }
      }

      & .question {
        width: 75%;
        margin: 0 auto;
        height: 3em;
        display: flex;

        animation-name: opacity;
        animation-timing-function: ease-out;
        animation-delay: 0.25s;
        animation-duration: 0.3s;
        animation-fill-mode: both;

        & .text {
          font-family: "Cormorant Garamond";
          font-size: 1.3em;
          border: 0;
          border-bottom: 1px solid var(--fg_color);
          width: 100%;
          outline: none;

          &:active, &:focus {
            border-bottom: 2px solid var(--fg_color);
          }
        }
      }
    }

    /* Where to hit */
    & .ichingDragArea {
      min-width: 100%;
      text-align: center;

      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: row;

      & .gongo {
        width: 72px;
        height: 72px;
        margin-top: auto;
        margin-bottom: 8em;

        /* Disable selection */
        outline: none;
        user-select: none;
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
        -webkit-touch-callout: none; /* iOS Safari */


        /* Disable tap color */
        -webkit-tap-highlight-color: rgba(239, 183, 183, 0);
        -webkit-tap-highlight-color: transparent; /* For some Androids */

        box-shadow: 0 1px 0 rgba(0, 0, 0, .06),
                    0 2px 6px rgba(0, 0, 0, .07),
                    0 10px 20px rgba(0, 0, 0, .19);
        border-radius: 50%;

        border: none;
        cursor: pointer;
        background-color: transparent;
        background-image: url(/icons/yin_yang_filled.svg);
        background-size: contain;

        will-change: transform, box-shadow;
        transform: scale(1);
        transition: box-shadow 100ms ease-out;

        animation: growElastic 300ms cubic-bezier(0.1, 1.28, 0.17, 1.41) 1 both;
        animation-delay: 370ms;

        &.down {
          animation: elastic-bounce-in 1000ms ease-out 1 both;
          animation-delay: 0;

          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.76), 0 2px 6px rgba(0, 0, 0, 0.77),
            0 5px 20px rgba(0, 0, 0, 0.49);
        }

        &.hit {
          animation-delay: 0;
          animation: elastic-bounce-out 1000ms ease-out 1 both;
        }
      }
    }
  }
}
