/**
 * Font loading
 */
body { font-family: 'Cormorant Garamond', helvetica, serif; }

.mainfont-loaded {
  body {
    font-family: 'Open Sans';
  }
}
blockquote , q {
  font-family: 'Cormorant Garamond', serif;
}
.cursive {
  font-family: 'Cormorant Garamond', serif;
}
